[Unit]
Description=Parses nginx access logs into a sqlite database

[Service]
Type=simple
WorkingDirectory=/tank/containers/rrinlog
ExecStart=/bin/bash -c '/usr/bin/tail -n 0 -F /var/log/nginx/access.log | RUST_LOG=info ./rrinlog'
StandardOutput=journal+console
