[Unit]
Description=Provides Grafana JSON API to nginx access logs stored in a sqlite database

[Service]
Type=simple
WorkingDirectory=/tank/containers/rrinlog
ExecStart=/tank/containers/rrinlog/rrinlog-server --ip <enter ip>
StandardOutput=journal+console
Environment="RUST_LOG=info"
